# Copie este arquivo para .env e preencha os valores

# Flask
FLASK_SECRET_KEY=*********

# Spotify OAuth
SPOTIFY_CLIENT_ID=**********************
SPOTIFY_CLIENT_SECRET=**********************
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback

# Banco de dados
DATABASE_URL=postgresql://musicpulse:musicpulse_pwd@localhost:5432/musicpulse

# Docker Compose (postgres + pgadmin)
POSTGRES_DB=musicpulse
POSTGRES_USER=musicpulse
POSTGRES_PASSWORD=musicpulse_pwd
PGADMIN_EMAIL=admin@local.com
PGADMIN_PASSWORD=musicpulse_pwd
